.Rproj.user
.Rhistory
.RData
.Ruserdata
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Matlab .dat
**.dat

# dataset CRIC (mascaras geradas a partir da base CRICSeg)
base/cytoplasm-segmentations.csv
base/dataCRIC.csv
base/nucleus-segmentations.csv